In [ ]:
import numpy as np # linear algebra
import pandas as pd # data processing, CSV file I/O (e.g. pd.read_csv)
import os
for dirname, _, filenames in os.walk('/kaggle/input'):
    for filename in filenames:
        print(os.path.join(dirname, filename))

In [ ]:
df = pd.read_csv("/content/Dataset Mobil CSV.csv")
print(df)

      Nama Mobil       Harga  CC Mesin Jenis Bahan Bakar  Jumlah Kursi  \
0         Avanza   250000000      1500            Bensin             7
1          Civic   600000000      1500            Bensin             5
2         Ertiga   250000000      1462            Bensin             7
3        Xpander   300000000      1500            Bensin             7
4          Supra  2000000000      3000            Bensin             2
5        Mazda 2   300000000      1500            Bensin             5
6         Ranger   800000000      2000            Diesel             5
7           Jazz   270000000      1500            Bensin             5
8       Gran Max   160000000      1500            Bensin             3
9       Colorado   700000000      2500            Diesel             5
10       A-Class   900000000      1332            Bensin             5
11   911 Carrera  4000000000      3000            Bensin             2
12         Traga   180000000      2500            Diesel             2
13        Livina   250000000      1500            Bensin             7
14   Hyundai i20   250000000      1400            Bensin             5
15        Triton   500000000      2400            Diesel             5
16         Hilux   450000000      2400            Diesel             5
17          CX-5   500000000      2500            Bensin             5
18  F-150 Raptor  1500000000      3500            Bensin             5
19  BMW 3 Series  1000000000      2000            Bensin             5
20        Kijang   150000000      1800            Bensin             7
21          L300   180000000      2500            Diesel             2
22         Carry   120000000      1300           Bensin              3
23        Espass    80000000      1600            Bensin             7
24       Terrano   150000000      2400            Bensin             5
25  Land Cruiser   500000000      4200            Diesel             7
26         Jimny   100000000      1300            Bensin             4
27       Trooper   200000000      3200            Diesel             7
28      Ventrend    60000000      1400            Bensin             5
29      Travello   120000000      2700            Diesel            12
30        Camaro  2000000000      6200            Bensin             4
31      Zebra. E    80000000      1600            Bensin             7
32        Accent    50000000      1500            Bensin             5
33        Navara   500000000      2300            Diesel             5
34         HiAce   600000000      2800            Diesel            16
35       Panther   300000000      2500            Diesel             7
36            X5  1500000000      3000            Bensin             7
37        Duster   300000000      1500            Diesel             5
38          Golf   500000000      1400            Bensin             5
39      Fortuner   600000000      2400            Diesel             7

           Transmisi     Tipe Mobil  Horsepower  Torsi  Tipe Chassis  \
0   Manual/Automatic            MPV         104    136     Monocoque
1                CVT          Sedan         176    220     Monocoque
2   Manual/Automatic            MPV         103    138     Monocoque
3   Manual/Automatic            MPV         105    141     Monocoque
4          Automatic       Sportcar         335    500     Monocoque
5          Automatic      Hatchback         110    114     Monocoque
6          Automatic   Double Cabin         213    500  Ladder Frame
7          Automatic      Hatchback         120    145     Monocoque
8             Manual          Niaga          97    134  Ladder Frame
9   Manual/Automatic   Double Cabin         180    440  Ladder Frame
10         Automatic      Hatchback         163    250     Monocoque
11         Automatic       Sportcar         379    450     Monocoque
12            Manual          Niaga          80    191  Ladder Frame
13  Manual/Automatic            MPV         104    141     Monocoque
14  Manual/Automatic      Hatchback          83    114     Monocoque
15  Manual/Automatic   Double Cabin         181    430  Ladder Frame
16  Manual/Automatic   Double Cabin         148    400  Ladder Frame
17         Automatic            SUV         187    252     Monocoque
18         Automatic   Double Cabin         450    691  Ladder Frame
19         Automatic          Sedan         258    400     Monocoque
20            Manual            MPV          83    140  Ladder Frame
21            Manual          Niaga          85    172  Ladder Frame
22            Manual          Niaga          75    100  Ladder Frame
23            Manual            MPV          90    130     Monocoque
24            Manual            SUV         118    185  Ladder Frame
25         Automatic            SUV         160    360  Ladder Frame
26            Manual            SUV          70    100  Ladder Frame
27            Manual            SUV         110    225  Ladder Frame
28            Manual  Station Wagon          70    105     Monocoque
29            Manual        Minibus          80    170  Ladder Frame
30         Automatic       Sportcar         455    617     Monocoque
31            Manual            MPV          72    110     Monocoque
32  Manual/Automatic          Sedan          92    135     Monocoque
33  Manual/Automatic   Double Cabin         190    450  Ladder Frame
34            Manual        Minibus         150    420  Ladder Frame
35            Manual            MPV          86    192  Ladder Frame
36         Automatic            SUV         335    450     Monocoque
37  Manual/Automatic            SUV         110    240     Monocoque
38         Automatic      Hatchback         150    250     Monocoque
39  Manual/Automatic            SUV         150    400  Ladder Frame

       Merk Mobil
0          Toyota
1           Honda
2          Suzuki
3      Mitsubishi
4          Toyota
5           Mazda
6            Ford
7           Honda
8        Daihatsu
9       Chevrolet
10  Mercedes-Benz
11        Porsche
12          Isuzu
13         Nissan
14        Hyundai
15     Mitsubishi
16         Toyota
17          Mazda
18           Ford
19            BMW
20         Toyota
21     Mitsubishi
22         Suzuki
23       Daihatsu
24         Nissan
25         Toyota
26         Suzuki
27          Isuzu
28          Mazda
29            Kia
30      Chevrolet
31       Daihatsu
32        Hyundai
33         Nissan
34         Toyota
35          Isuzu
36            BMW
37        Renault
38     Volkswagen
39         Toyota

In [ ]:
# Hapus kolom yang tidak diinginkan
df = df.drop(columns=['Jenis Bahan Bakar', 'Transmisi', 'Merk Mobil', 'Tipe Chassis', 'Tipe Mobil'])

# Tampilkan DataFrame yang telah diubah
print(df)

      Nama Mobil       Harga  CC Mesin  Jumlah Kursi  Horsepower  Torsi
0         Avanza   250000000      1500             7         104    136
1          Civic   600000000      1500             5         176    220
2         Ertiga   250000000      1462             7         103    138
3        Xpander   300000000      1500             7         105    141
4          Supra  2000000000      3000             2         335    500
5        Mazda 2   300000000      1500             5         110    114
6         Ranger   800000000      2000             5         213    500
7           Jazz   270000000      1500             5         120    145
8       Gran Max   160000000      1500             3          97    134
9       Colorado   700000000      2500             5         180    440
10       A-Class   900000000      1332             5         163    250
11   911 Carrera  4000000000      3000             2         379    450
12         Traga   180000000      2500             2          80    191
13        Livina   250000000      1500             7         104    141
14   Hyundai i20   250000000      1400             5          83    114
15        Triton   500000000      2400             5         181    430
16         Hilux   450000000      2400             5         148    400
17          CX-5   500000000      2500             5         187    252
18  F-150 Raptor  1500000000      3500             5         450    691
19  BMW 3 Series  1000000000      2000             5         258    400
20        Kijang   150000000      1800             7          83    140
21          L300   180000000      2500             2          85    172
22         Carry   120000000      1300             3          75    100
23        Espass    80000000      1600             7          90    130
24       Terrano   150000000      2400             5         118    185
25  Land Cruiser   500000000      4200             7         160    360
26         Jimny   100000000      1300             4          70    100
27       Trooper   200000000      3200             7         110    225
28      Ventrend    60000000      1400             5          70    105
29      Travello   120000000      2700            12          80    170
30        Camaro  2000000000      6200             4         455    617
31      Zebra. E    80000000      1600             7          72    110
32        Accent    50000000      1500             5          92    135
33        Navara   500000000      2300             5         190    450
34         HiAce   600000000      2800            16         150    420
35       Panther   300000000      2500             7          86    192
36            X5  1500000000      3000             7         335    450
37        Duster   300000000      1500             5         110    240
38          Golf   500000000      1400             5         150    250
39      Fortuner   600000000      2400             7         150    400

In [ ]:
# Ubah nama kolom 'nama_kolom_lama' menjadi 'nama_kolom_baru'
df = df.rename(columns={'Nama Mobil': 'Alternatif'})

# Tampilkan DataFrame yang telah diubah
print(df)

      Alternatif       Harga  CC Mesin  Jumlah Kursi  Horsepower  Torsi
0         Avanza   250000000      1500             7         104    136
1          Civic   600000000      1500             5         176    220
2         Ertiga   250000000      1462             7         103    138
3        Xpander   300000000      1500             7         105    141
4          Supra  2000000000      3000             2         335    500
5        Mazda 2   300000000      1500             5         110    114
6         Ranger   800000000      2000             5         213    500
7           Jazz   270000000      1500             5         120    145
8       Gran Max   160000000      1500             3          97    134
9       Colorado   700000000      2500             5         180    440
10       A-Class   900000000      1332             5         163    250
11   911 Carrera  4000000000      3000             2         379    450
12         Traga   180000000      2500             2          80    191
13        Livina   250000000      1500             7         104    141
14   Hyundai i20   250000000      1400             5          83    114
15        Triton   500000000      2400             5         181    430
16         Hilux   450000000      2400             5         148    400
17          CX-5   500000000      2500             5         187    252
18  F-150 Raptor  1500000000      3500             5         450    691
19  BMW 3 Series  1000000000      2000             5         258    400
20        Kijang   150000000      1800             7          83    140
21          L300   180000000      2500             2          85    172
22         Carry   120000000      1300             3          75    100
23        Espass    80000000      1600             7          90    130
24       Terrano   150000000      2400             5         118    185
25  Land Cruiser   500000000      4200             7         160    360
26         Jimny   100000000      1300             4          70    100
27       Trooper   200000000      3200             7         110    225
28      Ventrend    60000000      1400             5          70    105
29      Travello   120000000      2700            12          80    170
30        Camaro  2000000000      6200             4         455    617
31      Zebra. E    80000000      1600             7          72    110
32        Accent    50000000      1500             5          92    135
33        Navara   500000000      2300             5         190    450
34         HiAce   600000000      2800            16         150    420
35       Panther   300000000      2500             7          86    192
36            X5  1500000000      3000             7         335    450
37        Duster   300000000      1500             5         110    240
38          Golf   500000000      1400             5         150    250
39      Fortuner   600000000      2400             7         150    400

# **AHP**

In [ ]:
from sklearn.preprocessing import MinMaxScaler

df['Harga'] = pd.to_numeric(df['Harga'].replace('[\$,]', '', regex=True), errors='coerce')
df['CC Mesin'] = pd.to_numeric(df['CC Mesin'].replace('[^\d.]', '', regex=True), errors='coerce')
df['Jumlah Kursi'] = pd.to_numeric(df['Jumlah Kursi'].replace('[^\d.]', '', regex=True), errors='coerce')
df['Horsepower'] = pd.to_numeric(df['Horsepower'].replace('[^\d.]', '', regex=True), errors='coerce')
df['Torsi'] = pd.to_numeric(df['Torsi'].replace('[^\d.]', '', regex=True), errors='coerce')

# Extract criteria columns
criteria_columns = ['Harga', 'CC Mesin', 'Jumlah Kursi', 'Horsepower','Torsi']

# ----- Analytic Hierarchy Process (AHP) -----
# Pairwise comparison matrix for criteria
criteria_comparison_matrix = pd.DataFrame(index=criteria_columns, columns=criteria_columns, dtype=float)

# Manually set the pairwise comparison values (adjust as needed)
criteria_comparison_matrix.loc['Harga'] = [1, 3, 5, 7, 9]
criteria_comparison_matrix.loc['CC Mesin'] = [1/3, 1, 3, 5, 7]
criteria_comparison_matrix.loc['Jumlah Kursi'] = [1/5, 1/3, 1, 3, 5]
criteria_comparison_matrix.loc['Horsepower'] = [1/7, 1/5, 1/3, 1, 3]
criteria_comparison_matrix.loc['Torsi'] = [1/9, 1/7, 1/5, 1/3, 1]

print(criteria_comparison_matrix)

                 Harga  CC Mesin  Jumlah Kursi  Horsepower  Torsi
Harga         1.000000  3.000000      5.000000    7.000000    9.0
CC Mesin      0.333333  1.000000      3.000000    5.000000    7.0
Jumlah Kursi  0.200000  0.333333      1.000000    3.000000    5.0
Horsepower    0.142857  0.200000      0.333333    1.000000    3.0
Torsi         0.111111  0.142857      0.200000    0.333333    1.0

In [ ]:
# Calculate criteria weights using the Eigenvector method
eigenvalues, eigenvectors = np.linalg.eig(criteria_comparison_matrix)

normalized_matrix = criteria_comparison_matrix.div(criteria_comparison_matrix.sum(axis=0), axis=1)

print("\nMatriks yang telah dinormalisasi:")
print(normalized_matrix)

print("\nNilai Eigen:")
print(eigenvalues)
print("\nVektor Eigen:")
print(eigenvectors)

Matriks yang telah dinormalisasi:
                 Harga  CC Mesin  Jumlah Kursi  Horsepower  Torsi
Harga         0.559503  0.641548      0.524476    0.428571   0.36
CC Mesin      0.186501  0.213849      0.314685    0.306122   0.28
Jumlah Kursi  0.111901  0.071283      0.104895    0.183673   0.20
Horsepower    0.079929  0.042770      0.034965    0.061224   0.12
Torsi         0.062167  0.030550      0.020979    0.020408   0.04

Nilai Eigen:
[ 5.23747525+0.j          0.02584378+1.10036364j  0.02584378-1.10036364j
 -0.14458141+0.16231157j -0.14458141-0.16231157j]

Vektor Eigen:
[[ 0.8629722 +0.j          0.88983195+0.j          0.88983195-0.j
   0.80893898+0.j          0.80893898-0.j        ]
 [ 0.44005612+0.j          0.14341024+0.36612756j  0.14341024-0.36612756j
  -0.39763998+0.29264917j -0.39763998-0.29264917j]
 [ 0.21704424+0.j         -0.14540867+0.1379384j  -0.14540867-0.1379384j
   0.03839475-0.26947059j  0.03839475+0.26947059j]
 [ 0.10665135+0.j         -0.09087506-0.03711417j -0.09087506+0.03711417j
   0.080036  +0.13118863j  0.080036  -0.13118863j]
 [ 0.05609714+0.j          0.00734475-0.0610152j   0.00734475+0.0610152j
  -0.05391137-0.03529053j -0.05391137+0.03529053j]]

In [ ]:
max_eigenvalue = np.max(eigenvalues)
num_criteria = criteria_comparison_matrix.shape[0]
RI = 1.12
CI = (max_eigenvalue - num_criteria) / (num_criteria - 1)
CR = CI / RI
inconsistency = "Konsisten" if CR <= 0.1 else "Tidak Konsisten"

print("\nLambda Max:", max_eigenvalue)
print("Jumlah Kriteria:", num_criteria)
print("Random Index (RI):", RI)
print("Consistency Index (CI):", CI)
print("Consistency Ratio (CR):", CR)
print("Inkonsistensi:", inconsistency)

Lambda Max: (5.237475251487309+0j)
Jumlah Kriteria: 5
Random Index (RI): 1.12
Consistency Index (CI): (0.05936881287182727+0j)
Consistency Ratio (CR): (0.053007868635560056+0j)
Inkonsistensi: Konsisten

In [ ]:
criteria_weights = eigenvectors[:, np.argmax(eigenvalues)] / np.sum(eigenvectors[:, np.argmax(eigenvalues)])

# Normalize the criteria values
df_normalized_ahp = df.copy()
for column in criteria_columns:
    if column in ['Harga', 'CC Mesin', 'Horsepower', 'Torsi']:  # Cost criteria
        df_normalized_ahp[column] = 1 / (df[column] + 1)  # Normalize inversely
    else:  # Benefit criteria
        df_normalized_ahp[column] = df[column] / df[column].max()

# Calculate the weighted sum for each smartphone
df_normalized_ahp['AHP_Score'] = df_normalized_ahp[criteria_columns].dot(criteria_weights)

# Rank the smartphones based on the AHP scores
df_ranked_ahp = df_normalized_ahp.sort_values(by='AHP_Score', ascending=False).reset_index(drop=True)

print("\nRanked Dataset (AHP):")
print(df_ranked_ahp[['Alternatif', 'AHP_Score']])

Ranked Dataset (AHP):
      Alternatif           AHP_Score
0          HiAce  0.129569+0.000000j
1       Travello  0.097807+0.000000j
2       Zebra. E  0.057759+0.000000j
3         Kijang  0.057563+0.000000j
4         Espass  0.057541+0.000000j
5         Ertiga  0.057455+0.000000j
6         Avanza  0.057448+0.000000j
7         Livina  0.057440+0.000000j
8        Xpander  0.057434+0.000000j
9        Panther  0.057433+0.000000j
10       Trooper  0.057227+0.000000j
11      Fortuner  0.057039+0.000000j
12  Land Cruiser  0.056975+0.000000j
13            X5  0.056777+0.000000j
14      Ventrend  0.041699+0.000000j
15   Hyundai i20  0.041536+0.000000j
16        Accent  0.041406+0.000000j
17       Mazda 2  0.041340+0.000000j
18          Jazz  0.041231+0.000000j
19        Duster  0.041189+0.000000j
20       Terrano  0.041126+0.000000j
21          Golf  0.041044+0.000000j
22       A-Class  0.041021+0.000000j
23         Civic  0.040988+0.000000j
24         Hilux  0.040923+0.000000j
25          CX-5  0.040879+0.000000j
26        Triton  0.040840+0.000000j
27      Colorado  0.040835+0.000000j
28        Navara  0.040825+0.000000j
29        Ranger  0.040799+0.000000j
30  BMW 3 Series  0.040764+0.000000j
31  F-150 Raptor  0.040569+0.000000j
32         Jimny  0.033668+0.000000j
33        Camaro  0.032479+0.000000j
34         Carry  0.025548+0.000000j
35      Gran Max  0.025251+0.000000j
36         Traga  0.017183+0.000000j
37          L300  0.017156+0.000000j
38         Supra  0.016464+0.000000j
39   911 Carrera  0.016450+0.000000j

In [ ]:
import pickle

# --- Menyimpan model AHP ---
ahp_model = {
    'criteria_comparison_matrix': criteria_comparison_matrix,
    'criteria_weights': criteria_weights,
    'df_ranked_ahp': df_ranked_ahp,
    'normalized_matrix': normalized_matrix  # Optional: Menyimpan matriks yang dinormalisasi
}

with open('supercar_model.pkl', 'wb') as file:
    pickle.dump(ahp_model, file)

print("Model AHP dan SAW telah disimpan!")

Model AHP dan SAW telah disimpan!